.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    margin: 10px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 50%;
}
.iconImg {
    width: 50px;
}

.title {
    font-size: var(--app-font-size-3xl);
    font-weight: 500;
}
