.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    border-bottom: 1px solid rgb(var(--app-bar-border-color));
    background-color: rgb(var(--app-bar-background-color));
    transition: background-color 300ms;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle a {
    display: inline-block;
    position: relative;
    color: rgb(var(--app-bar-color));
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
    margin: 10px 15px;
    transition: color 150ms;
}
.middle a:hover {
    color: rgb(var(--app-bar-hover-color));
}
.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profileContainer {
    height: 50px;
    width: 50px;
    --mask: url("data:image/svg+xml,%3Csvg width='200' height='200' viewBox='0 0 200 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M199.178 99.589C199.178 165.982 165.982 199.179 99.5893 199.179C33.1963 199.179 0 165.982 0 99.589C0 33.1964 33.1963 0 99.5893 0C165.982 0 199.178 33.1964 199.178 99.589Z' fill='black'/%3E%3C/svg%3E")
        0 0 / 100% 100% no-repeat;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    background: linear-gradient(to bottom right, deeppink, orangered);
    cursor: pointer;
}
