.container {
    padding: 10px 100px;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    box-shadow: 3px 0px 10px 1px rgba(var(--app-color), 0.5);
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle a {
    display: inline-block;
    position: relative;
    color: rgba(var(--app-color), 0.7);
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
    margin: 10px 15px;
    transition: color 300ms;
}
.middle a:hover {
    color: rgba(var(--app-color), 1);
}
.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profileContainer {
    height: 50px;
    width: 50px;
    --mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='-50,-50,100,100'%3E%3Cg%3E%3Cpath d='M 50 0 L 49.999999999999986 0 L 49.98552810832468 3.1448228684332045 L 49.911585374200676 6.305299557582635 L 49.74340978224017 9.489062909101166 L 49.45033549061537 12.69668815953343 L 49.00270833053239 15.921945105346293 L 48.37145759672946 19.1516148889165 L 47.5287655407209 22.365339393574953 L 46.44949362357843 25.535825211560645 L 45.113149701394576 28.629675373503016 L 43.50610957666007 31.609038835504844 L 41.623689589724165 34.434110685445376 L 39.471592758548 37.06629280444965 L 37.06629280444967 39.471592758547985 L 34.4341106854454 41.62368958972416 L 31.60903883550486 43.50610957666006 L 28.629675373503034 45.113149701394576 L 25.535825211560653 46.44949362357843 L 22.365339393574956 47.5287655407209 L 19.151614888916498 48.37145759672946 L 15.921945105346284 49.00270833053239 L 12.696688159533414 49.45033549061536 L 9.489062909101149 49.74340978224017 L 6.305299557582613 49.911585374200676 L 3.1448228684331787 49.98552810832468 L -3.0245073740886305e-14 49.999999999999986 L -3.144822868433239 49.98552810832468 L -6.305299557582672 49.91158537420067 L -9.489062909101213 49.74340978224018 L -12.696688159533478 49.45033549061536 L -15.921945105346344 49.00270833053238 L -19.151614888916566 48.371457596729456 L -22.36533939357501 47.52876554072088 L -25.535825211560702 46.4494936235784 L -28.629675373503076 45.11314970139455 L -31.609038835504908 43.50610957666004 L -34.43411068544545 41.62368958972412 L -37.066292804449716 39.471592758547935 L -39.47159275854805 37.0662928044496 L -41.623689589724215 34.43411068544532 L -43.50610957666012 31.609038835504773 L -45.11314970139461 28.62967537350293 L -46.449493623578455 25.535825211560557 L -47.52876554072093 22.36533939357486 L -48.371457596729485 19.151614888916402 L -49.00270833053241 15.921945105346182 L -49.45033549061538 12.696688159533316 L -49.74340978224018 9.48906290910105 L -49.911585374200676 6.305299557582515 L -49.985528108324694 3.1448228684330823 L -49.999999999999986 -1.27103528959282e-13 L -49.985528108324694 -3.1448228684333364 L -49.91158537420067 -6.305299557582773 L -49.74340978224016 -9.489062909101309 L -49.45033549061535 -12.696688159533577 L -49.00270833053237 -15.921945105346447 L -48.37145759672943 -19.15161488891666 L -47.528765540720855 -22.365339393575116 L -46.44949362357836 -25.53582521156081 L -45.1131497013945 -28.62967537350318 L -43.50610957665997 -31.609038835505004 L -41.62368958972405 -34.43411068544553 L -39.471592758547864 -37.06629280444981 L -37.06629280444951 -39.47159275854813 L -34.434110685445226 -41.623689589724286 L -31.609038835504688 -43.506109576660165 L -28.629675373502874 -45.11314970139465 L -25.53582521156051 -46.44949362357847 L -22.365339393574843 -47.52876554072093 L -19.151614888916402 -48.371457596729485 L -15.921945105346209 -49.0027083305324 L -12.696688159533362 -49.450335490615366 L -9.489062909101124 -49.743409782240185 L -6.305299557582608 -49.911585374200676 L -3.144822868433196 -49.98552810832468 L -9.184850993605146e-15 -49.999999999999986 L 3.1448228684331774 -49.98552810832468 L 6.305299557582588 -49.91158537420067 L 9.489062909101103 -49.74340978224018 L 12.696688159533345 -49.45033549061537 L 15.921945105346191 -49.00270833053241 L 19.151614888916384 -48.37145759672949 L 22.36533939357482 -47.52876554072094 L 25.535825211560493 -46.449493623578476 L 28.629675373502856 -45.113149701394654 L 31.60903883550467 -43.50610957666018 L 34.434110685445205 -41.6236895897243 L 37.06629280444948 -39.471592758548155 L 39.47159275854782 -37.06629280444986 L 41.623689589723995 -34.43411068544561 L 43.50610957665992 -31.609038835505107 L 45.113149701394434 -28.629675373503307 L 46.4494936235783 -25.535825211560958 L 47.5287655407208 -22.365339393575294 L 48.37145759672938 -19.151614888916864 L 49.00270833053232 -15.921945105346666 L 49.45033549061532 -12.696688159533823 L 49.74340978224014 -9.489062909101577 L 49.911585374200655 -6.305299557583059 L 49.985528108324694 -3.144822868433645 L 49.999999999999986 -4.56335677841536e-13' stroke='black' stroke-width='0.05'/%3E%3C/g%3E%3C/svg%3E")
        0 0 / 100% 100% no-repeat;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    background: linear-gradient(to bottom right, deeppink, orangered);
}
