.container {
    overflow: hidden;
    padding: var(--settings-menu-padding);
    margin: var(--settings-menu-margin);
    box-sizing: border-box;
    border: 1px solid rgb(var(--settings-menu-border));
    border-radius: 10px;
    background-color: rgb(var(--settings-menu-background-color));
    color: rgb(var(--settings-menu-color));
}
