html[tabbing] .input:focus {
    box-shadow: 0px 0px 0px 3px rgba(var(--input-color), 0.5);
    outline: none;
}

.input {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    -webkit-appearance: none;
    width: auto;
    height: 10px;
    border-radius: 5px;
    background: rgba(var(--input-color), 0.2);
    cursor: pointer;
    transition: 300ms;
}
.input:hover {
    background: rgba(var(--input-color), 0.3);
}

.input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(var(--input-color));
}
.input::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(var(--input-color));
}
.input::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(var(--input-color));
}

.input::-webkit-slider-runnable-track {
}
.input::-moz-range-track {
}
.input::-ms-track {
}
