.h1 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 96px;
    letter-spacing: -1.5px;
    margin: 10px 0;
    color: inherit;
}
.h2 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 60px;
    letter-spacing: -0.5px;
    margin: 10px 0;
    color: inherit;
}
.h3 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0px;
    margin: 10px 0;
    color: inherit;
}
.h4 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 0.25px;
    margin: 10px 0;
    color: inherit;
}
.h5 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0px;
    margin: 10px 0;
    color: inherit;
}
.h6 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.15px;
    margin: 10px 0;
    color: inherit;
}
.sub1 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.15px;
    margin: 0;
    color: inherit;
}
.sub2 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1px;
    margin: 0;
    color: inherit;
}
.body1 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin: 0;
    color: inherit;
}
.body2 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.25px;
    margin: 0;
    color: inherit;
}
.caption {
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.4px;
    margin: 0;
    color: inherit;
}
.overline {
    font-family: Roboto;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1.5px;
    margin: 0;
    color: inherit;
}
